/.hvigor/
/.idea/
/.appanalyzer/
/build/
/dist/
/generated/
/entry/build/
/local.properties
/build-profile.json5
/build-profile.local-backup.json5
/node_modules/
/oh_modules/
/entry/oh_modules/
/entry/.cxx/
/entry/src/main/cpp/generated/
/entry/src/main/ets/RNOHPackagesFactory.ets
/entry/src/main/ets/codegen/*
!/entry/src/main/ets/codegen/.gitignore
/entry/src/main/resources/rawfile/bundle.harmony.js
/entry/src/main/resources/rawfile/hermes_bundle.hbc
/entry/src/main/resources/rawfile/assets/
*.cer
*.key
*.p12
*.p7b
*.pem
